<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <connectionStrings>
    <add name ="KaraokeBd" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Смайлик\source\repos\Lesson_1\ConsoleApp1\Karaoke.mdf;Integrated Security=True" />
  </connectionStrings>
  <connectionStrings>
    <add name ="LearnBd" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Смайлик\source\repos\Lesson_2\Lesson_2\DataLess3.mdf;Integrated Security=True" />
  </connectionStrings>
</configuration>


